pipeline/P1Any ext any folder_delete.json
{
	"name": "P1Any ext any folder_delete",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "p1getmetadata",
						"type": "DatasetReference",
						"parameters": {
							"folderpath": {
								"value": "@pipeline().parameters.source",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"exists",
						"lastModified",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name, pipeline().parameters.filext)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "p1sink",
									"type": "DatasetReference",
									"parameters": {
										"folderpath": "@pipeline().parameters.source",
										"filename": "@item().name"
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "sourcecopyraw",
										"type": "LinkedServiceReference"
									}
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "p1source",
									"type": "DatasetReference",
									"parameters": {
										"folderpath": "@pipeline().parameters.source",
										"filename": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "archivesink",
									"type": "DatasetReference",
									"parameters": {
										"folderpath": {
											"value": "@concat(\n    pipeline().parameters.delete,\n    '/',\n    formatDateTime(utcNow(), 'yyyy/MM')\n)\n",
											"type": "Expression"
										},
										"filename": {
											"value": "@concat(\n    substring(item().name, 0, lastIndexOf(item().name, '.')),\n    '_',\n    formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'),\n    substring(\n        item().name,\n        lastIndexOf(item().name, '.'),\n        sub(length(item().name), lastIndexOf(item().name, '.'))\n    )\n)\n",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "p1source",
									"type": "DatasetReference",
									"parameters": {
										"folderpath": "@pipeline().parameters.source",
										"filename": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "archivesink",
									"type": "DatasetReference",
									"parameters": {
										"folderpath": {
											"value": "@concat(\n    pipeline().parameters.delete,\n    '/',\n    formatDateTime(utcNow(), 'yyyy/MM')\n)\n",
											"type": "Expression"
										},
										"filename": {
											"value": "@concat(\n    substring(item().name, 0, lastIndexOf(item().name, '.')),\n    '_',\n    formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'),\n    substring(\n        item().name,\n        lastIndexOf(item().name, '.'),\n        sub(length(item().name), lastIndexOf(item().name, '.'))\n    )\n)\n",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"source": {
				"type": "string"
			},
			"filext": {
				"type": "string"
			},
			"delete": {
				"type": "string"
			},
			"currentdate": {
				"type": "string",
				"defaultValue": "@formatDateTime(utcNow(), 'yyyy/MM/dd')"
			}
		},
		"folder": {
			"name": "KESCO/manual/Delete"
		},
		"annotations": [],
		"lastPublishTime": "2026-06-14T05:52:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}